*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCC900;
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 87% 100% );
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

section .content{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

section .content h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

section .content p{
    color: #fff;
    font-size: 1.2rem;
}

section .content a{
    position: relative;
    display: inline-block;
    padding: 18px 30px;
    margin-top: 15px;
    background-color: #2069C1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

section .imgBox{
    position: relative;
    padding-right: 100px;
    padding-top: 10px;
}

section .imgBox img{
    max-width: 400px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}

.sci{
    position: absolute;
    bottom: 75px;
    left: 150px;
    display: flex;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 1;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: #999;
    margin-right: 30px;
    font-weight: 0.9rem;
}

.sci li a:hover{
    color: #fff;
}

.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #2069C1;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-weight: 0.6em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a:active,
.nav li a:hover{
    color: #fff;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}